@import './Common.css';

.playbook__catalog {
	margin: 10px;
}

.playbook__catalog__caption {
	padding: 5px 15px 10px 10px;
	color: var(--accent);
	font-family: Roboto, sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 1;
}

.playbook__catalog__caption__icon {
	width: 14px;
	height: 14px;
	vertical-align: top;
	margin-right: 2px;
	fill: var(--accent);
	transform: translateY(2px) rotate(-90deg);
}

.playbook__catalog__columns {
	display: flex;
}

.playbook__catalog__property {
	flex: 0 0 var(--content-property-width);
	box-sizing: border-box;
	background: var(--theme);
	color: var(--text);
	font-family: Roboto Mono, Consolas;
	font-size: 12px;
	word-break: break-word;
	padding: 10px;
	margin-right: 10px;
	border-radius: 5px;
	box-shadow: var(--shadow-default);
	transition: box-shadow 0.3s ease-in-out;

	&:hover {
		box-shadow: var(--shadow-hover);
	}
}

.playbook__catalog__content {
	position: relative;
	flex: 1 1 auto;
}

.playbook__catalog__property__tag {
	font-weight: 600;
}

.playbook__catalog__property__indent {
	margin-left: 16px;
	border-radius: 5px;

	&:hover {
		background: var(--panel);
	}
}

.playbook__catalog__property__interactive {
	&:hover, &:focus {
		color: var(--accent);
	}
}

.playbook__catalog__property__function {
	font-style: italic;
}

.playbook__catalog__grid {
	margin: 10px;
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
	justify-content: space-evenly;

	.playbook__catalog {
		margin: 0;
		display: flex;

		.playbook__catalog__caption {
			display: none;
		}

		.playbook__catalog__columns {
			flex-direction: column-reverse;
		}

		.playbook__catalog__property {
			margin: 10px 0 0 0;
			flex: 1 1 auto;
		}
	}
}