@left-side-width: 260px;
@content-implicit-width: 300px;
@content-property-width: 260px;

body {
  margin: 0;
  width: 100vw;
  height: 100vh;

  &.playbook__preview {
    width: auto;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
  }
}

.playbook {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.playbook__left {
  width: @left-side-width;
  flex: 0 0 auto;
  transition: width 0.3s ease-out;
  background: gainsboro;
  box-sizing: border-box;
  user-select: none;
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

.playbook__search-box {
  width: 100%;
  padding: 0 10px;
  height: 30px;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  border: none;
  outline: none;
  border-right: 1px solid gainsboro;
  color: #212121;

  &::placeholder {
    color: gray;
  }
}

.playbook__menu {
  flex: 1;
  padding: 10px 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.playbook__menu__item {
  display: block;
  padding: 5px 10px;
  color: #212121;
  text-decoration: none;
  word-break: break-word;

  &:hover {
    color: blue;
  }

  &.--select {
    background: blue;
    color: white;
  }
}

.playbook__menu__item__last {
  font-weight: 500;
}

.playbook__right {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.playbook__toolbar {
  background: gainsboro;
  min-height: 30px;
  align-items: center;
  padding: 5px 5px;
  box-sizing: border-box;
  display: none;
}

.playbook__button {
  appearance: none;
  border: 1px solid black;
  fill: black;
  background: white;
  outline: none;
  padding: 4px;
  font-size: 0;

  &:hover {
    fill: blue;
    border-color: blue;
  }

  &:focus {
    border-color: blue;
  }
}

.playbook__contents {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

.playbook__content {
  display: flex;
  border-bottom: 1px solid gainsboro;

  &:last-child {
    flex: 1;
    border-bottom: none;
  }
}

.playbook__content__side-panel {
  flex: 0 0 @content-property-width;
  box-sizing: border-box;
  border-left: 1px solid gainsboro;
  background: white;
}

.playbook__content__control {
  text-align: right;
  margin: 10px;
}

.playbook__property {
  font-family: Roboto Mono, Consolas;
  font-size: 12px;
  word-break: break-word;
  color: #212121;
  margin: 10px 5px;
}

.playbook__property__tag {
  font-weight: 600;
}

.playbook__property__indent .playbook__property__indent {
  margin-left: 16px;

  &:hover {
    background: gainsboro;
  }
}

.playbook__property__function {
  font-style: italic;
}

.playbook__error {
  display: inline-block;
  background: #ffebee;
  color: #f44336;
  padding: 10px;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

@media (max-width: @left-side-width + @content-implicit-width + @content-property-width) {
  .playbook__left {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;

    &:not(.playbook__left-responsive) {
      display: none;
    }

    &.playbook__left-responsive {
      animation: playbook__slide-right 0.5s ease-out;
    }

    &.playbook__left-responsive .playbook__search-box {
      border-right: none;
    }
  }

  .playbook__toolbar {
    display: flex;
  }
}

@media (max-width: @content-implicit-width + @content-property-width) {
  .playbook__property {
    display: none;
  }
}

@keyframes playbook__slide-right {
  from {
    transform: translateX(-100vw);
  }

  to {
    transform: translateX(0);
  }
}
