body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.playbook {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.playbook__left {
  flex: 0 0 260px;
  transition: width 0.3s ease-out;
  background: gainsboro;
  box-sizing: border-box;
  user-select: none;
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

.playbook__search-box {
  width: 100%;
  padding: 0 10px;
  height: 30px;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  border: none;
  outline: none;
  border-right: 1px solid gainsboro;
  color: #212121;
}

.playbook__search-box::placeholder {
  color: gray;
}

.playbook__menu {
  flex: 1;
  padding: 10px 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.playbook__menu__item {
  display: block;
  padding: 5px 10px;
  color: #212121;
  text-decoration: none;
  word-break: break-word;
}

.playbook__menu__item:hover {
  color: blue;
}

.playbook__menu__item.--select {
  background: blue;
  color: white;
}

.playbook__menu__item__last {
  font-weight: 500;
}

.playbook__right {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.playbook__toolbar {
  background: gainsboro;
  min-height: 30px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  box-sizing: border-box;
}

.playbook__toolbar:empty {
  display: none;
}

.playbook__contents {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

.playbook__content {
  display: flex;
  border-bottom: 1px solid gainsboro;
}

.playbook__property {
  flex: 0 0 260px;
  font-family: Roboto Mono, Consolas;
  font-size: 12px;
  padding: 20px 5px;
  box-sizing: border-box;
  border-left: 1px solid gainsboro;
  word-break: break-word;
  background: white;
  color: #212121;
}

.playbook__property__tag {
  font-weight: 600;
}

.playbook__property__indent .playbook__property__indent {
  margin-left: 16px;
}

.playbook__property__indent .playbook__property__indent:hover {
  background: gainsboro;
}

.playbook__property__function {
  font-style: italic;
}

.playbook__preview {
  position: relative;
  flex: 1;
  padding: 20px 0;
  overflow-x: auto;
}

.playbook__content:last-child {
  flex: 1;
  border-bottom: none;
}

.playbook__error {
  color: red;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}
